name: Deploy VitaCheck AI to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to EC2 via SSH
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ubuntu/vitacheck-ai
          git fetch origin main
          git reset --hard origin/main
          source venv_vc/bin/activate
          pip install -r requirements.txt
          pm2 restart fastapi-ocr
